<div class="container">
  <mat-form-field class="search-articles">
    <mat-label>Search for articles</mat-label>
    <input
      matInput
      type="text"
      placeholder="Best ways to..."
      [(ngModel)]="value"
    />
    <button matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>

  <h1>Most recents articles</h1>

  <div class="row">
    <div *ngFor="let article of articles" class="col-12 col-md-6 col-lg-4 mb-5">
      <ardon-card [config]="article" />
    </div>
  </div>
</div>
