<div class="d-none d-sm-none d-md-block d-lg-block">
  <div
    class="gallery__container"
    [class.flex-column]="content.photos.length === 3"
    fxLayout="row wrap"
    [style.height]="(20 * content.photos.length) / 2 + 'rem'"
    [ngStyle]="{
      'max-width': '1180px'
    }"
  >
    <div
      class="gallery__image"
      (click)="openPhoto(image)"
      *ngFor="let image of content.photos"
      [fxFlex]="1 + ' ' + 0 + ' ' + 'calc(50% - 0.5rem)'"
      [ngStyle]="{
        backgroundImage: 'url(' + image.imageSrc + ')',
        backgroundSize: 'cover',
        margin: '0.25rem'
      }"
    ></div>
  </div>
</div>

<div class="d-block d-sm-block d-md-none d-lg-none">
  <div
    class="gallery__container"
    fxLayout="row wrap"
    [style.height]="(20 * content.photos.length) / 1 + 'rem'"
    [ngStyle]="{
      'max-width': '1180px'
    }"
  >
    <div
      class="gallery__image"
      (click)="openPhoto(image)"
      *ngFor="let image of content.photos"
      [fxFlex]="1 + ' ' + 0 + ' ' + 'calc(100% - 0.5rem)'"
      [ngStyle]="{
        backgroundImage: 'url(' + image.imageSrc + ')',
        backgroundSize: 'cover',
        margin: '0.25rem'
      }"
    ></div>
  </div>
</div>
