<textarea
  *ngIf="item.type === 'text'"
  class="drag-text"
  cdkTextareaAutosize
  cdkAutosizeMinRows="1"
  placeholder="Type here..."
  class="col-12"
  style="height: auto; outline: none; font-size: 1rem"
  (input)="detectChanges.emit()"
  [(ngModel)]="item.content.value"
></textarea>

<textarea
  class="drag-subheading"
  *ngIf="item.type === 'subheading'"
  cdkTextareaAutosize
  cdkAutosizeMinRows="1"
  placeholder="Type here..."
  class="col-12"
  style="height: auto; outline: none; font-size: 1rem"
  (input)="detectChanges.emit()"
  [(ngModel)]="item.content.title"
></textarea>

<ardon-drag-image
  class="drag-image"
  [item]="item"
  [detectChanges]="detectChanges"
/>

<ardon-drag-carousel
  *ngIf="item.type === 'carousel'"
  [item]="item"
  [detectChanges]="detectChanges"
/>
