<div *ngIf="item.type === 'image'">
  <div class="title">
    <mat-icon>photo</mat-icon> <span>Ссылка на фото</span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="textarea-container">
          <textarea
            placeholder="Вставьте сюда ссылку на фото..."
            autocomplete="off"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="false"
            cdkTextareaAutosize
            class="col-12"
            style="height: auto; outline: none; font-size: 1rem"
            [(ngModel)]="item.content.imageSrc"
            (input)="detectChanges.emit(1)"
          ></textarea>
          <mat-icon class="add-photo" (click)="fillUrl()"
            >add_photo_alternate</mat-icon
          >
        </div>
        <hr />
        <div class="title">
          <mat-icon>assignment</mat-icon>
          <span>Заголовок фото</span>
        </div>
        <textarea
          placeholder="Опишите фото..."
          cdkTextareaAutosize
          class="col-12"
          style="height: auto; outline: none; font-size: 1rem"
          [(ngModel)]="item.content.imageTitle"
          (input)="detectChanges.emit(1)"
        ></textarea>
      </div>
      <div class="col-6 image-preview">
        <img
          [src]="item.content.imageSrc"
          *ngIf="item.content.imageSrc.length > 0"
        />
      </div>
    </div>
  </div>
</div>
