<div
  class="side-nav-background"
  (click)="closeSideNav()"
  *ngIf="isSideNav"
></div>
<div class="side-nav" [class.closed]="!isSideNav">
  <mat-toolbar color="secondary">
    <mat-toolbar-row class="navigation">
      <span>Навигация</span>

      <div>
        <button
          mat-icon-button
          (click)="toggleTheme()"
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon *ngIf="!themeService.isDarkTheme">wb_sunny</mat-icon>
          <mat-icon *ngIf="themeService.isDarkTheme">brightness_2</mat-icon>
        </button>

        <button
          mat-icon-button
          class="example-icon"
          (click)="closeSideNav()"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="side-nav-content bg-body">
    <mat-list>
      <div mat-subheader>Темы</div>
      @for (folder of folders; track folder) {
        <mat-list-item>
          <mat-icon matListItemIcon>folder</mat-icon>
          <div matListItemTitle>{{ folder.name }}</div>
        </mat-list-item>
      }
      <mat-divider></mat-divider>
      <div mat-subheader>Вас может заинтересовать</div>
      @for (note of notes; track note) {
        <mat-list-item>
          <mat-icon matListItemIcon>note</mat-icon>
          <div matListItemTitle>{{ note.name }}</div>
        </mat-list-item>
      }
    </mat-list>
  </div>
</div>
