<div class="container">
  <div class="row">
    <mat-tab-group #tabGroup>
      <mat-tab label="Edit">
        <ardon-editor
          [article]="articleExample"
          [displayConfig]="{ title: true, theme: true, content: false }"
        />
      </mat-tab>
      <mat-tab label="Preview">
        <div class="preview-container">
          <ardon-article-view
            [displayConfig]="{ title: true, theme: true, content: false }"
            [article]="articleExample"
          />
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<ardon-editor
  [class.hidden]="tabGroup.selectedIndex !== 0"
  [article]="articleExample"
  [displayConfig]="{ title: false, theme: false, content: true }"
/>

<div
  cdkDrag
  class="article-preview bg-body isResizable"
  style="position: fixed; top: 0px; z-index: 1000; border: 2px solid #ccc"
>
  <mat-toolbar color="primary" cdkDragHandle>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button></mat-toolbar
  >
  <div style="height: calc(100% - 64px); overflow: auto">
    <ardon-article-view
      *ngIf="tabGroup.selectedIndex === 1 || true"
      [displayConfig]="{ title: true, theme: true, content: true }"
      [article]="articleExample"
    />
  </div>
</div>
