.preview-container {
  overflow: auto;
}

.hidden {
  display: none;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.scroll-up {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 1000;
}

.toggle-tab {
  position: fixed;
  right: 10px;
  bottom: 60px;
  z-index: 1000;
}
