<div class="container">
  <div class="row">
    <mat-tab-group
      (selectedTabChange)="tabSelect$.next($event.index)"
      [selectedIndex]="selectedIndex"
    >
      <mat-tab label="Редактор">
        <ardon-editor
          [article]="article"
          [displayConfig]="{ title: true, theme: true, content: false }"
        />
      </mat-tab>
      <mat-tab label="Предпросмотр">
        <div class="preview-container">
          <ardon-article-view
            [displayConfig]="{ title: true, themeImage: true, content: false }"
            [article]="article"
          />
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<ardon-article-view
  *ngIf="(tabSelect$ | async) === 1"
  [displayConfig]="{ title: false, themeImage: false, content: true }"
  [article]="article"
/>
<div class="container">
  <ardon-editor
    [class.hidden]="(tabSelect$ | async) !== 0"
    [article]="article"
    [displayConfig]="{ title: false, themeImage: false, content: true }"
  />
</div>
<ardon-article-preview
  [article]="article"
  *ngIf="editorService.isPreview$ | async"
/>

<button
  mat-mini-fab
  class="scroll-up"
  color="secondary"
  (click)="scrollUp()"
  aria-label="Example icon button with a home icon"
>
  <mat-icon>keyboard_arrow_up</mat-icon>
</button>

<button
  mat-mini-fab
  class="toggle-tab"
  color="secondary"
  (click)="toggleTab()"
  aria-label="Example icon button with a home icon"
>
  <mat-icon *ngIf="tabSelect$.getValue() === 0">keyboard_arrow_right</mat-icon>
  <mat-icon *ngIf="tabSelect$.getValue() === 1">keyboard_arrow_left</mat-icon>
</button>
