.slide {
  margin-right: 5px;
  cursor: grab;
  img {
    border-radius: 25px;
  }
}
.slide:active {
  cursor: grabbing;
}

.slider {
  overflow: hidden;
  border-radius: 25px;
}

.img-description {
  width: 100%;
  text-align: center;
}

mat-icon {
  position: absolute;
  right: 15px;
  bottom: 40px;
  // mix-blend-mode: difference;
}
