<p [class.hide-navbar]="hideNavbar">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      (click)="openSideNav()"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/']">
      <span class="logo"
        ><mat-icon>{{
          configService.config$ | async | get: "appLogo"
        }}</mat-icon></span
      >
      <span> {{ configService.config$ | async | get: "appName" }}</span>
    </a>

    <span class="vr d-none d-sm-block d-lg-block d-md-block d-xl-block"></span>
    <mat-icon class="d-none d-sm-block d-lg-block d-md-block d-xl-block"
      >phone</mat-icon
    >
    <div class="d-none d-lg-block d-md-block d-xl-block">
      <a href="tel:+79112868536">+7 911 286-85-36</a>
    </div>

    <span class="example-spacer"></span>

    <mat-icon class="d-none d-sm-block d-lg-block d-md-block d-xl-block"
      >supervisor_account</mat-icon
    >
    <div class="ml-1 d-none d-lg-block d-md-block d-xl-block">
      <a routerLink="article/about">О нас</a>
    </div>

    <span class="vr d-none d-sm-block d-lg-block d-md-block d-xl-block"></span>

    <!-- <button
      mat-icon-button
      (click)="toggleTheme()"
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>settings</mat-icon>
    </button> -->

    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>search</mat-icon>
    </button>

    <!-- <button
      mat-icon-button
      (click)="toggleTheme()"
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon *ngIf="!themeService.isDarkTheme">wb_sunny</mat-icon>
      <mat-icon *ngIf="themeService.isDarkTheme">brightness_2</mat-icon>
    </button> -->

    <a [routerLink]="['/profile']">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon matBadgeColor="accent">face</mat-icon>
        <!-- <mat-icon matBadge="0" matBadgeColor="accent">face</mat-icon> -->
      </button></a
    >
  </mat-toolbar>
</p>
<div class="br"></div>
