<p [class.hide-navbar]="hideNavbar">
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      (click)="openSideNav()"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/']">
      <span class="logo"
        ><mat-icon>{{
          configService.config$ | async | get: "appLogo"
        }}</mat-icon></span
      >
      <span> {{ configService.config$ | async | get: "appName" }}</span>
    </a>

    <ng-container
      class="left"
      *ngFor="
        let btn of (configService.config$ | async)?.navbarButtonsLeft || []
      "
    >
      <span class="vr d-none d-sm-none d-md-block d-lg-block d-xl-block"></span>
      <mat-icon class="d-none d-sm-none d-md-block d-lg-block d-xl-block">{{
        btn.icon
      }}</mat-icon>
      <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
        <a [href]="btn.href">{{ btn.title }}</a>
      </div>
    </ng-container>

    <span class="example-spacer"></span>

    <ng-container
      class="right"
      *ngFor="
        let btn of (configService.config$ | async)?.navbarButtonsRight || []
      "
    >
      <span class="d-none d-sm-none d-md-block d-lg-block d-xl-block"></span>
      <mat-icon class="d-none d-sm-none d-md-block d-lg-block d-xl-block">{{
        btn.icon
      }}</mat-icon>
      <div class="d-none d-sm-none d-md-block d-lg-block d-xl-block">
        <a [href]="btn.href" [routerLink]="btn.routerLink">{{ btn.title }}</a>
      </div>
    </ng-container>

    <span class="vr d-none d-sm-block d-md-block d-lg-block d-xl-block"></span>

    <button
      mat-icon-button
      class="d-none d-sm-block d-lg-block d-md-block d-xl-block example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>search</mat-icon>
    </button>

    <a [routerLink]="['/profile']">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon matBadgeColor="accent">face</mat-icon>
        <!-- <mat-icon matBadge="0" matBadgeColor="accent">face</mat-icon> -->
      </button></a
    >
  </mat-toolbar>
</p>
<div class="br"></div>
