<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      (click)="openSideNav()"
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/']">
      <span class="logo"><mat-icon>brightness_auto</mat-icon></span>
      <span>
        <!-- <img
          _ngcontent-ng-c3202968170=""
          matbuttonicon=""
          src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg"
          alt="angular"
          aria-hidden="true"
          class="logo"
        /> -->

        Ardon Engine</span
      >
    </a>
    <span class="example-spacer"></span>
    <a [routerLink]="['/profile']">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <mat-icon>face</mat-icon>
      </button></a
    >
  </mat-toolbar>
</p>
<div class="br"></div>
