<mat-list>
  <div mat-subheader *ngIf="chapters.length > 0">Содержание</div>
  @for (chapter of chapters; track chapter) {
    <mat-list-item matRipple (click)="scrollTo(chapter.name)">
      <mat-icon matListItemIcon>label</mat-icon>
      <div matListItemTitle>{{ chapter.name }}</div>
      <div matListItemLine>{{ chapter.subname }}</div>
    </mat-list-item>
  }
  <mat-divider *ngIf="chapters.length > 0"></mat-divider>
  <div mat-subheader>Действия</div>
  @for (action of actions; track action) {
    <mat-list-item matRipple>
      <mat-icon matListItemIcon>{{ action.icon }}</mat-icon>
      <div matListItemTitle>{{ action.name }}</div>
      <div matListItemLine>{{ action.count }} {{ action.description }}</div>
    </mat-list-item>
  }
</mat-list>
