<div
  cdkDropList
  *ngIf="item.type === 'table'"
  [id]="tablelIdColumns"
  [cdkDropListEnterPredicate]="isTextPredicate"
  [cdkDropListData]="tableColumns$ | async"
  [cdkDropListConnectedTo]="['availableComponents']"
  class="example-list"
  (cdkDropListDropped)="dropItem($event)"
>
  <p class="hint text-secondary p-3">
    <mat-icon style="transform: translateY(7px)">view_column</mat-icon
    >Перетащите сюда колонки (
    <mat-icon style="transform: translateY(7px)">assignment</mat-icon>Текст )
  </p>

  <hr *ngIf="(tableColumns$ | async)!.length > 0" />
  @for (column of tableColumns$ | async; let idx = $index; track item) {
  <mat-toolbar class="example-box" cdkDrag [cdkDragData]="item">
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

    <div *cdkDragPreview class="drag-preview">
      <mat-icon>{{ item.icon }}</mat-icon>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-11">
          <mat-icon style="transform: translateY(-7px)">view_column</mat-icon>
          <ardon-editor-textarea [item]="column" />
        </div>
        <ardon-drag-handle cdkDragHandle />
      </div>
    </div>
  </mat-toolbar>
  }
</div>

<p class="hint text-secondary p-3">
  <mat-icon style="transform: translateY(7px)">view_module</mat-icon>Перетащите
  сюда ряды
</p>

<div
  cdkDropList
  *ngIf="item.type === 'table'"
  [id]="tablelIdRows"
  [cdkDropListEnterPredicate]="isTextPredicate"
  [cdkDropListData]="tableRows$ | async"
  [cdkDropListConnectedTo]="['availableComponents']"
  class="example-list"
  (cdkDropListDropped)="dropItem($event)"
>
  <p class="hint text-secondary p-3">Перетащите сюда ряды</p>

  <hr *ngIf="(tableRows$ | async)!.length > 0" />

  @for (row of tableRows$ | async; let row_idx = $index; track row) {
  <mat-toolbar class="example-box" cdkDrag [cdkDragData]="row">
    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

    <div *cdkDragPreview class="drag-preview">
      <mat-icon>{{ item.icon }}</mat-icon>
    </div>

    <div class="container">
      <div class="row">
        <div
          class="col-11 justify-content-center rows d-flex"
          *ngIf="tableRows$ | async"
        >
          <div
            *ngFor="let column of tableColumns$ | async; let column_idx = index"
            class="drag-text"
            #text
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            [style.minWidth]="'150px'"
            [style.width]="
              100 / ((tableColumns$ | async)?.length || 1) - 1 + '%'
            "
            style="height: auto; outline: none; font-size: 1rem"
          >
            <p *ngIf="column.type === 'text' && row_idx === 0">
              {{ column.content.value || "⠀" }}
            </p>
            <ardon-editor-textarea
              [item]="{
                icon: 'assigmnent',
                type: 'text',
                content: { value: '' },
                title: 'Текст'
              }"
            />
          </div>
        </div>
        <div
          class="col-11 justify-content-center"
          *ngIf="(tableColumns$ | async)?.length === 0"
        >
          <div class="alert alert-warning" role="alert">
            В таблице отсутствуют колонки!
          </div>
        </div>

        <ardon-drag-handle cdkDragHandle />
      </div>
    </div>
  </mat-toolbar>
  }
</div>

<span *ngIf="update$ | async"></span>
