<div class="heading centrilize" *ngIf="theme">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
      <div class="title">
        <mat-icon>photo</mat-icon>
        <span>Тематическая фотография</span>
      </div>
      <br />

      <ardon-preview-cover-drag-list />
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xs-6">
      <div class="title">
        <mat-icon>photo</mat-icon>
        <span>Тематическая фотография</span>
      </div>
      <br />

      <ardon-preview-cover-drag-list />
    </div>
  </div>
</div>
