<div
  cdkDropList
  *ngIf="item.type === 'carousel'"
  id="carouselDropList"
  [cdkDropListEnterPredicate]="isPhotoPredicate"
  [cdkDropListData]="carouselComponents$ | async"
  [cdkDropListConnectedTo]="['availableComponents']"
  class="example-list"
  (cdkDropListDropped)="dropItem($event)"
>
  <p class="hint text-secondary p-3">Drag picture here</p>
  @for (picture of carouselComponents$ | async; track item) {
    <mat-toolbar class="example-box" cdkDrag [cdkDragData]="item">
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

      <div *cdkDragPreview class="drag-preview">
        <mat-icon>{{ item.icon }}</mat-icon>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-11">
            <ardon-drag-image
              [item]="picture"
              [detectChanges]="detectChanges"
            />
          </div>
          <ardon-drag-handle />
        </div>
      </div>
    </mat-toolbar>
  }
</div>
