<div class="container">
  <div class="heading">
    <mat-icon>edit</mat-icon>

    <input [(ngModel)]="article.heading" />
  </div>
</div>

<br />
<div class="container">
  <div class="row">
    <div class="example-container col-12 col-sm-12 col-md-12 col-lg-3">
      <h2>Components</h2>

      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="currentAvailableComponents"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of currentAvailableComponents; track item) {
          <mat-toolbar
            class="example-box"
            cdkDrag
            [cdkDragDisabled]="preventDrag"
          >
            <div *cdkDragPreview class="drag-preview">
              <mat-icon>{{ item.icon }}</mat-icon>
            </div>
            <div class="component">
              <mat-icon>{{ item.icon }}</mat-icon>
              <span>{{ item.title }}</span>
            </div>
            <div
              style="width: 30px"
              class="drag-handle"
              cdkDragHandle
              (mouseenter)="preventDrag = false"
              (touchstart)="preventDrag = false"
              (mouseleave)="preventDrag = true"
              (touchend)="preventDrag = true"
            >
              <mat-icon>menu</mat-icon>
            </div>
          </mat-toolbar>
        }
      </div>
    </div>
    <div class="example-container col-12 col-sm-12 col-md-12 col-lg-8">
      <h2>Article Preview</h2>

      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="articlePreview"
        [cdkDropListConnectedTo]="[todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)"
      >
        @for (item of articlePreview; track item) {
          <mat-toolbar
            class="example-box"
            cdkDrag
            [cdkDragDisabled]="preventDrag"
          >
            <div *cdkDragPreview class="drag-preview">
              <mat-icon>{{ item.icon }}</mat-icon>
            </div>

            <div class="container">
              <div class="row">
                <div class="preview col-11">
                  <div class="component">
                    <mat-icon>{{ item.icon }}</mat-icon>
                    <span>{{ item.title }}</span>
                  </div>
                </div>

                <div
                  style="width: 30px; margin-bottom: 5px"
                  class="drag-handle col-1"
                  cdkDragHandle
                  (mouseenter)="preventDrag = false"
                  (touchstart)="preventDrag = false"
                  (mouseleave)="preventDrag = true"
                  (touchend)="preventDrag = true"
                >
                  <mat-icon>menu</mat-icon>
                </div>
              </div>
              <hr />
              <div class="row" style="height: auto; white-space: normal">
                <textarea
                  cdkTextareaAutosize
                  class="col-12"
                  style="height: auto; outline: none; font-size: 1rem"
                  [(ngModel)]="item.value"
                ></textarea>
              </div>
            </div>
          </mat-toolbar>
        }
      </div>
    </div>
  </div>
</div>

{{ articlePreview | json }}
