<div
  cdkDrag
  class="article-preview bg-body isResizable"
  style="
    position: fixed;
    top: 0px;
    width: 400px;
    height: 600px;
    z-index: 20000;
    border: 2px solid #ccc;
  "
>
  <mat-toolbar color="primary" cdkDragHandle>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>

    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>

    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>minimize</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>crop_square</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      (click)="editorService.isPreview$.next(false)"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div style="height: calc(100% - 64px); overflow: auto">
    <ardon-article-view
      [displayConfig]="{ title: true, themeImage: true, content: true }"
      [article]="article"
    />
  </div>
</div>
