<div
  cdkDrag
  id="previewArticle"
  *ngIf="showPreview"
  #previewArticle
  class="article-preview bg-body"
  [class.isResizable]="showBody"
  [style.height]="showBody ? '600px' : '68px'"
  [style.top]="folded ? '903px' : '0px'"
  style="position: fixed; width: 400px; z-index: 20000; border: 2px solid #ccc"
>
  <mat-toolbar color="primary" cdkDragHandle>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>

    <button
      mat-icon-button
      class="example-icon"
      (click)="foldPreview()"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>

    <button
      mat-icon-button
      class="example-icon"
      (click)="refresh()"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon style="transform: rotateY(-180deg)">flip_to_front</mat-icon>
    </button>

    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="minimizePreview()"
    >
      <mat-icon>minimize</mat-icon>
    </button>

    <button
      mat-icon-button
      class="example-icon"
      (click)="maximizePreview()"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>crop_square</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      (click)="closePreview()"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div
    id="previewArticleBody"
    [class.hidden]="!showBody"
    style="height: calc(100% - 64px); overflow: auto"
  >
    <ardon-article-view
      [displayConfig]="{ title: true, themeImage: true, content: true }"
      [article]="article"
    />
  </div>
</div>
