<div class="welcome">
  <div class="welcome2" [style.background-image]="bg$ | async"></div>
  <div class="title">{{ configService.config | get: "appName" }}</div>

  <div class="subtitle">
    <a href="tel:+79112868536"> <mat-icon>phone</mat-icon>+7 911 286-85-36</a>
  </div>

  <h2>{{ configService.config | get: "description" }}</h2>
  <div class="d-flex p-2">
    <a
      *ngFor="let button of configService.config.startButtons"
      mat-raised-button
      [routerLink]="button.destionation"
    >
      {{ button.title }}</a
    >
  </div>
</div>
