.no-advantages {
  height: calc(100vh - 64px);
}

.advantages {
  height: 500px;
}

.welcome {
  width: 100%;

  background: #3f51b5;
  transform: translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;

  .title {
    z-index: 10;
    opacity: 1;
    font-size: clamp(30px, 8.5vw, 56px);
    font-weight: 700;
    line-height: 56px;
    margin: 15px 5px;
    text-align: center;
  }

  .subtitle {
    font-size: 2rem;
    margin: 15px 5px;
    font-weight: 700;
    z-index: 2000;

    a {
      display: flex;
      align-items: center;
      z-index: 1000;
      color: white;
    }

    a:link {
      color: white;
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px;
  }
}

.welcome2 {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  // content: "";
  content: attr(data-content);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.d-flex {
  gap: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}
.example-spacer {
  flex: auto;
}

.spacer {
  height: 10px;
}

.scroll-down {
  position: absolute;
  animation: float 5s ease-in-out infinite;
  bottom: 40px;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@media only screen and (max-width: 319px) {
  .subtitle {
    font-size: 1.5rem !important;
  }
}
