<mat-card class="example-card">
  <mat-card-header>
    <div
      mat-card-avatar
      [style.background-image]="'url(' + config.avatarSrc + ')'"
      class="example-header-image"
    ></div>
    <mat-card-title>{{ config.title }}</mat-card-title>
    <mat-card-subtitle>{{ config.subheader }} </mat-card-subtitle>
  </mat-card-header>
  <div
    class="background"
    (click)="goTo(config.buttons[0].destination)"
    [style.background-image]="'url(' + config.backgroundSrc + ')'"
  ></div>
  <mat-card-content>
    <p *ngIf="config.description">
      {{ config.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-flat-button
      color="primary"
      (click)="goTo(button.destination)"
      *ngFor="let button of config.buttons"
    >
      <mat-icon>{{ button.icon }}</mat-icon
      >{{ button.text }}
    </button>
  </mat-card-actions>
</mat-card>
