<mat-card class="example-card">
  <mat-card-header>
    <div
      mat-card-avatar
      [style.background-image]="'url(' + config.avatar + ')'"
      class="example-header-image"
    ></div>
    <mat-card-title>{{ config.head }}</mat-card-title>
    <mat-card-subtitle>{{ config.subhead }} </mat-card-subtitle>
  </mat-card-header>
  <div
    class="background"
    [style.background-image]="'url(' + config.background + ')'"
  ></div>
  <mat-card-content>
    <p>
      {{ config.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-flat-button
      color="primary"
      *ngFor="let button of config.buttons"
    >
      <mat-icon>{{ button.icon }}</mat-icon
      >{{ button.text }}
    </button>
  </mat-card-actions>
</mat-card>
