<mat-card class="example-card">
  <mat-card-header>
    <div
      mat-card-avatar
      [style.background-image]="'url(' + config.avatarSrc + ')'"
      class="example-header-image"
    ></div>
    <mat-card-title>{{ config.title }} </mat-card-title>
    <mat-card-subtitle>{{ config.subheader }} </mat-card-subtitle>
  </mat-card-header>
  <a
    matRipple
    [class.background-cover]="config.backgroundMode === 'cover'"
    [class.background-display]="config.backgroundMode === 'display'"
    [routerLink]="config.buttons[0].destination"
    (click)="goTo(config.buttons[0].destination)"
    (keydown)="goTo(config.buttons[0].destination)"
    [style.background-image]="'url(' + config.backgroundSrc + ')'"
  ></a>
  <mat-card-content>
    <p *ngIf="config.description">
      {{ config.description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <ng-container *ngFor="let button of config.buttons">
      <a
        *ngIf="button.type === 'visit'"
        mat-flat-button
        color="primary"
        [routerLink]="config.buttons[0].destination"
        (click)="goTo(button.destination)"
      >
        <mat-icon>{{ button.icon }}</mat-icon
        >{{ button.text }}
      </a>

      <a
        *ngIf="button.type === 'share'"
        mat-flat-button
        color="primary"
        (click)="shareLink(button.destination)"
      >
        <mat-icon>{{ button.icon }}</mat-icon
        >{{ button.text }}
      </a>
    </ng-container>
  </mat-card-actions>
</mat-card>
