.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}

.background-cover {
  max-height: 298px;
  height: 298px;
  background-size: cover;
  cursor: pointer;
}

.background-display {
  max-height: 298px;
  height: 298px;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.mat-mdc-card-subtitle {
  margin-bottom: 5px;
}

p {
  padding-top: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 24px;
}

button {
  margin-right: 5px;
}

mat-card {
  height: 445px;
}

mat-card-actions {
  margin-top: auto;
  display: flex;
  gap: 5px;
}
