<div class="container" *ngIf="found">
  <ardon-heading [heading]="article.heading" />

  <ardon-cover [imageSrc]="article.themeImageSrc"></ardon-cover>
  <div class="article-body row">
    <div class="contents col-12 col-md-4 col-lg-4"><ardon-contents /></div>
    <div class="content col-12 col-md-8 col-lg-8">
      <div class="article-block" *ngFor="let block of article.blocks">
        <ardon-text *ngIf="block.type === 'text'" [content]="block.content" />
        <ardon-subheading
          *ngIf="block.type === 'subheading'"
          [content]="block.content"
        />
        <ardon-list
          *ngIf="block.type === 'list'"
          [list]="block.content"
        ></ardon-list>
        <ardon-image
          *ngIf="block.type === 'image'"
          [imageConfig]="{
            imageSrc: block.content[0],
            imageTitle: block.content[1]
          }"
        />
        <ardon-chip-list
          *ngIf="block.type === 'chip-list'"
          [contents]="block.content"
        />
        <ardon-carousel
          *ngIf="block.type === 'carousel'"
          [slides]="block.content"
        />
      </div>
    </div>
  </div>
</div>

<ardon-photo-viewer
  *ngIf="photoViewer.isOpen$ | async"
  [imageUrl]="photoViewer.src"
/>

<ardon-article-not-found *ngIf="!found" />
