<div class="container" *ngIf="found">
  <ardon-heading *ngIf="displayConfig.title" [heading]="article.heading" />
  <ardon-cover
    *ngIf="displayConfig.themeImage"
    [imageSrc]="article.themeImageSrc"
  ></ardon-cover>
  <div class="article-body row" *ngIf="displayConfig.content">
    <div class="contents col-12 col-md-4 col-lg-4">
      <ardon-contents [blocks]="article.blocks" />
    </div>
    <div class="content col-12 col-md-8 col-lg-8">
      <div
        class="article-block"
        *ngFor="let block of article.blocks; let i = index"
      >
        <ardon-photo-collage *ngIf="i === 0" />

        <ardon-text *ngIf="block.type === 'text'" [content]="block.content" />
        <ardon-subheading
          *ngIf="block.type === 'subheading'"
          [content]="block.content"
        />
        <ardon-list
          *ngIf="block.type === 'list'"
          [content]="block.content"
        ></ardon-list>
        <ardon-image *ngIf="block.type === 'image'" [content]="block.content" />
        <ardon-chip-list
          *ngIf="block.type === 'chip-list'"
          [content]="block.content"
        />
        <ardon-carousel
          *ngIf="block.type === 'carousel'"
          [content]="block.content"
        />
      </div>
    </div>
  </div>
</div>

<ardon-article-not-found *ngIf="!found" />
