<div class="container" *ngIf="found">
  <ardon-heading *ngIf="displayConfig.title" [heading]="article.heading" />
  <ardon-cover
    *ngIf="displayConfig.themeImage"
    [imageSrc]="article.themeImageSrc"
  ></ardon-cover>
  <div class="article-body row" *ngIf="displayConfig.content">
    <div class="contents col-12 col-md-4 col-lg-4">
      <ardon-contents [blocks]="article.blocks" />
    </div>
    <div class="content col-12 col-md-8 col-lg-8">
      <ardon-article-render [blocks]="article.blocks" />
    </div>
  </div>
</div>

<ardon-article-not-found *ngIf="!found" />
