<div class="container">
  <mat-tab-group>
    <mat-tab label="Sign in">
      <div class="container">
        <h1><mat-icon>assignment_ind</mat-icon>Sign in</h1>
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput />
        </mat-form-field>

        <ardon-captcha-view />

        <mat-form-field>
          <mat-label>Answer the captcha</mat-label>
          <input matInput />
        </mat-form-field>
        <button mat-raised-button color="primary">Sign in</button>
      </div>
    </mat-tab>
    <mat-tab label="Sign up">
      <div class="container">
        <h1><mat-icon>assignment_ind</mat-icon>Sign up</h1>
        <form [formGroup]="form">
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" type="email" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password again</mat-label>
            <input matInput formControlName="passwordAgain" type="password" />
          </mat-form-field>

          <ardon-captcha-view />

          <mat-form-field>
            <mat-label>Answer the captcha</mat-label>
            <input matInput formControlName="captchaAnswer" />
          </mat-form-field>

          <button mat-raised-button color="primary">Sign up</button>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
