<div class="container">
  <mat-tab-group>
    <mat-tab label="Войти">
      <div class="container">
        <h1><mat-icon>assignment_ind</mat-icon>Войти</h1>
        <form [formGroup]="signInForm" (ngSubmit)="submitSignInForm()">
          <mat-form-field>
            <mat-label>Имя пользователя</mat-label>
            <input matInput formControlName="username" type="text" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Пароль</mat-label>
            <input matInput formControlName="password" type="password" />
          </mat-form-field>

          <ardon-captcha-view (captcha)="setCaptcha($event)" />

          <mat-form-field>
            <mat-label>Введите 4 цифры капчи</mat-label>
            <input matInput formControlName="captchaAnswer" />
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">Войти</button>
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Зарегестрироваться">
      <div class="container">
        <h1><mat-icon>assignment_ind</mat-icon>Зарегестрироваться</h1>
        <form [formGroup]="signUpForm" (ngSubmit)="submitSignUpForm()">
          <mat-form-field>
            <mat-label>Имя пользователя</mat-label>
            <input matInput formControlName="username" type="text" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Пароль</mat-label>
            <input matInput formControlName="password" type="password" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Ещё раз пароль</mat-label>
            <input matInput formControlName="passwordAgain" type="password" />
          </mat-form-field>

          <ardon-captcha-view (captcha)="setCaptcha($event)" />

          <mat-form-field>
            <mat-label>Введите 4 цифры капчи</mat-label>
            <input matInput formControlName="captchaAnswer" />
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit">
            Зарегестироваться
          </button>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
