<div class="article-image">
  <div
    class="article-image-before"
    [style.background-image]="'url(' + content.imageSrc + ')'"
  ></div>
  <div
    class="img-container"
    [style.background-image]="'url(' + content.imageSrc + ')'"
  >
    <img
      #img
      [style.width]="windowInnerWidth + 'px'"
      [style.max-width]="img.naturalWidth + 'px'"
      [style.opacity]="0"
      [src]="content.imageSrc"
      [title]="content.imageTitle"
      (click)="photoViewer.open(content)"
    />
    <p>
      <i>{{ content.imageTitle }}</i>
    </p>
  </div>
</div>
