<div
  cdkDropList
  *ngIf="item.type === 'collage'"
  [id]="carouselId"
  [cdkDropListEnterPredicate]="isPhotoPredicate"
  [cdkDropListData]="collageComponents$ | async"
  [cdkDropListConnectedTo]="['availableComponents', 'articleConstructor']"
  class="example-list"
  (cdkDropListDropped)="dropItem($event)"
>
  <p class="hint text-secondary p-3">Перетащите сюда фотографии</p>

  <hr *ngIf="(collageComponents$ | async)!.length > 0" />
  @for (picture of collageComponents$ | async; track item) {
    <mat-toolbar class="example-box" cdkDrag [cdkDragData]="item">
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>

      <div *cdkDragPreview class="drag-preview">
        <mat-icon>{{ item.icon }}</mat-icon>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-11">
            <ardon-drag-image
              *ngIf="picture.type === 'image'"
              [item]="picture"
              [detectChanges]="detectChanges"
            />
          </div>
          <ardon-drag-handle cdkDragHandle />
        </div>
      </div>
    </mat-toolbar>
  }
</div>

<span *ngIf="update$ | async"></span>
